:root {
    --black-bg: #222222;
    --pink-bg: #F1E4E6;
    --pink-text: #F16D7F;
    --white-text: #FBFBFB;
    --description-text: #5D5D5D;
}

body {
    font-family: 'Lato', sans-serif;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: var(--black-bg);
    min-width: 1600px;
    min-height: 75px;
    display: flex;
    align-items: center;
}

.header__wrp,
.header__menu-list,
.header__logo-search {
    display: flex;
    align-items: center;
}

.header__search-icon,
.header__burger,
.header__link {
    fill: #E8E8E8;
}

.header__logo:hover,
.header__search-icon:hover,
.header__burger:hover,
.header__link-img:hover {
    transform: scale(1.3);
}

.header__burger:active +.header__nav,
.header__burger:focus +.header__nav {
  display: block;
}

.header__nav:active {
    display: block;
  }

.header__wrp {
    justify-content: space-between;
    position: relative;
}

.header__burger {
    border: none;
    background-color: transparent;
}

.header__logo {
    margin-right: 41px;
}

.header__link {
    position: relative;
    margin-left: 33px;
}

/* .header__basket-ellipse {
    position: absolute;
    left: 70%;
    right: 15%;
    bottom: 100%;
}

.header__basket-ellipse-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    position: absolute;
    left: 89%;
    bottom: 112%;
} */

.header__nav {
    width: 232px;
    height: 764px;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    position: absolute;
    left: 1140px;
    top: 58px;
    padding: 37px 0 0 34px;
    box-sizing: border-box;
    display: none;
}

.header__nav-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 4px;
}

.nav-list__title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    margin: 20px 0 12px 0;
}

.nav-list__item {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    margin: 0 0 11px 22px;
}

.main {
    min-width: 1600px;
}

.main__brand {
    background-color: var(--pink-bg);
    min-width: 1600px;
}

.main__brand-content {
    width: 1600px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.main__brand-content-text {
    height: 92px;
    width: 12px;
    margin: 0 16px 0 64px;
}

.main__brand-content-title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 48px;
}

.main__brand-text-black,
.main__brand-text-pink {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.brand__text-pink {
    color: var(--pink-text);
}

.main__brand-content-men {
    max-height: 764px;
}

.sales__list {
    text-transform: uppercase;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 64px auto 97px auto;
}

.sales__item-woman {
    background: url(../img/sale/woman-sale.jpg) no-repeat;
}

.sales__item-men {
    background: url(../img/sale/men-sale.jpg) no-repeat;
}

.sales__item-kids {
    background: url(../img/sale/kids-sale.jpg) no-repeat;
}

.sales__item-woman,
.sales__item-men,
.sales__item-kids {
    width: 360px;
    height: 260px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.sales__item-shoes {
    background: url(../img/sale/accesories.jpg) no-repeat;
    background-size: cover;
    width: 1140px;
    height: 180px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    grid-area: 2 / 1 / 3 / 4;
}

.sales__offer {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.sales__offer-title {
    color: var(--pink-text);
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}

.product__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: var(--black-bg);
    text-align: center;
    text-transform: capitalize;
    margin: 96px auto 6px auto;
}

.product__offer {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
    text-transform: inherit;
}

.product__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 48px auto;
}

.product__item {
    position: relative;
}

.product__item-link {
    border: 1px solid #FFFFFF;
    width: 138px;
    height: 43px;
    display: flex;
    align-items: center;
    text-decoration: none;
    position: absolute;
    left: 111px;
    right: 111px;
    top: 188px;
    bottom: 188px;
}

.product__item-dark {
    position: absolute;
    top: 0;
    width: 360px;
    height: 420px;
    opacity: 0;
}

.product__item-dark:hover {
    background: rgba(58, 56, 56, 0.86);
    opacity: 1;
}

.product__item-link-img {
    fill: #FFFFFF;
    margin: auto 11px auto 13px;
}

.product__item-link-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #FFFFFF;
}

.product__item-title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.product__item-description {
    width: 315px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: var(--description-text);
    margin: 12px 0 18px 0;
}

.product__item-price {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--pink-text);
}

.product__description {
    background: var(--white-text);
    text-align: left;
    padding: 25px 29px 20px 16px;
}

.product__all-link {
    width: 211px;
    height: 47px;
    border: 1px solid #FF6A6A;
    background: #FFFFFF;
    margin: 0 auto 95px 465px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    text-transform: capitalize;
}

.product__all-link:hover {
    background: #F16D7F;
    color: #FFFFFF;
}

.advantages {
    height: 341px;
    background: #222224;
}

.advantages__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.advantages__item {
    width: 360px;
    text-align: center;
    margin: 104px 0;
}

.advantages__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--white-text);
}

.advantages__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 16px;
    color: var(--white-text);
}

.advantages__delivery {
    margin-bottom: 28px;
}

.advantages__sales {
    margin-bottom: 19px;
}

.advantages__quality {
    margin-bottom: 25px;
}

.footer__content {
    background: url(../img/bg-photo-footer.jpg) no-repeat;
    min-width: 1598px;
    min-height: 448px;
    display: flex;
    justify-content: space-around;
}

.footer__comment-avatar {
    margin: 97px auto 30px 352px;
}

.footer__comment-text {
    width: 359px;
    height: 99px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    margin-left: 230px;
}

.comment-text-italic {
    font-style: italic;
}

.footer__subscription {
    margin: 150px 230px auto auto;
}

.footer__subscription-text {
    width: 557px;
    height: 61px;
}

.footer__subscription-title {
    height: 35px;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #222224;
}

.footer__subscription-offer {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #222224;
}

.footer__subscription-form {
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

.footer__subscription-form-input {
    width: 234px;
    height: 49px;
    background: #E1E1E1;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: none;
    padding: 0 0 0 22px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    opacity: 0.67;
}

.footer__subscription-form-button {
    width: 100px;
    height: 49px;
    background: #F16D7F;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    padding: 0;
}

.footer__end {
    background-color: #222224;
    min-width: 1600px;
    min-height: 79px;
    display: flex;
    align-items: center;
}

.footer__end-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__rights {
    width: 332px;
    height: 19px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-transform: capitalize;
    color: var(--white-text);
}

.footer__social-list {
    display: flex;
}

.footer__social-item {
    margin-left: 7px;
    display: flex;
}

.footer__bg-social {
    width: 32px;
    height: 32px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__bg-social:hover {
    background-color: #F16D7F;
    fill: white;
}

.main__head {
    background-color: var(--pink-bg);
    min-width: 1600px;
    padding: 60px 0 60px 0;
}

.main__registration-head {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #F16D7F;
}

.main__registration-content {
    display: flex;
    padding-top: 64px;
}

.main__registration-form {
    display: flex;
    flex-direction: column;
}

.registration-gender {
    /* width: 358px; */
    margin: 32px 0 33px 0;
}

.registration-gender-item {
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    text-transform: capitalize;
    color: #000000;
    display: inline-block;
    margin-right: 20px;
}

.registration-input-radio {
    width: 17px;
    height: 17px;
    margin-right: 10px;
    border: 1px solid #A4A4A4;
    box-sizing: border-box;
}

.registration-title {
    width: 358px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}

.registration-input {
    width: 358px;
    height: 44px;
    border: 1px solid #A4A4A4;
    margin-top: 21px;
    padding-left: 17px;
    box-sizing: border-box;
}

.registration-input::placeholder {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    text-transform: capitalize;
    color: #B1B1B1;
}

.registration-password-requirements {
    width: 359px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    margin: 15px 0 39px 0;
}

.registration-button {
    height: 50px;
    width: 167px;
    border: none;
    background: #F16D7F;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin: 0 auto 96px 0;
}

.registration-button-arrow {
    margin-left: 20px;
}

.main__registration-advantages-title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.main__registration-advantages {
    margin-left: 128px;
}

.main__registration-advantages-text {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    margin: 22px 0;
    color: #000000;
}

.main__registration-advantages-item {
    list-style-image: url(../img/svg-illustrations/check-mark.svg);
    list-style-position: inside;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 16px;
}

.main__registration-advantages-item:before {
    content: '';
    margin-left: 22px;
}

.full {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.top {
    flex-grow: 1;
}